<div class="container-fluid bg-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand m-0 px-5" href="/">Rently</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/properties">Properties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav mx-2">
          <li class="nav-item">
            <a routerLink="/compare" class="nav-link">
              <i class="fas fa-balance-scale"></i>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/" class="nav-link">
              <i class="fas fa-heart"></i>
            </a>
          </li>
        </ul>
        <a routerLink="/login" class="btn btn-primary">
          Login
        </a>
      </div>
    </nav>
  </div>
</div>
