<div class="container-fluid py-4">
  <div class="container">
    <div class="d-flex justify-content-between flex-column flex-md-row">
      <h2 class="text-white">Rently</h2>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
          <a href="#">
            <img class="social-icon" src="/assets/social/facebook.svg" />
          </a>
        </li>
        <li class="list-group-item">
          <a href="#">
            <img class="social-icon" src="/assets/social/twitter.svg" />
          </a>
        </li>
        <li class="list-group-item">
          <a href="#">
            <img class="social-icon" src="/assets/social/instagram.svg" />
          </a>
        </li>
        <li class="list-group-item">
          <a href="#">
            <img class="social-icon" src="/assets/social/pinterest.svg" />
          </a>
        </li>
      </ul>
    </div>

    <hr class="footer-sections-separator" />

    <div class="row links-row">
      <div class="col-md-3 col-sm-6">
        <h3 class="h5 links-section-heading text-uppercase">Information</h3>

        <ul class="list-unstyled">
          <li><a href="#" class="link-light">Our Contacts</a></li>
          <li><a href="#" class="link-light">Privacy Policy</a></li>
          <li><a href="#" class="link-light">Terms and Conditions</a></li>
          <li><a href="#" class="link-light">FAQs</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <h3 class="h5 links-section-heading text-uppercase">Properties</h3>

        <ul class="list-unstyled">
          <li><a href="#" class="link-light">Commercial</a></li>
          <li><a href="#" class="link-light">House</a></li>
          <li><a href="#" class="link-light">Office</a></li>
          <li><a href="#" class="link-light">Residential</a></li>
          <li><a href="#" class="link-light">Residential Tower</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <h3 class="h5 links-section-heading text-uppercase">Locations</h3>

        <ul class="list-unstyled">
          <li><a href="#" class="link-light">Beverly Hills</a></li>
          <li><a href="#" class="link-light">Los Angeles</a></li>
          <li><a href="#" class="link-light">Mission Viejo</a></li>
          <li><a href="#" class="link-light">Newport Beach</a></li>
          <li><a href="#" class="link-light">Pasadena</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <h3 class="h5 links-section-heading text-uppercase">Useful Links</h3>

        <ul class="list-unstyled">
          <li><a href="#" class="link-light">Blog</a></li>
          <li><a href="#" class="link-light">Our Contacts</a></li>
          <li><a href="#" class="link-light">Submit Listing</a></li>
          <li><a href="#" class="link-light">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
