@import "~bootswatch/dist/flatly/variables";

.details-section {
  padding-top: 50px;
  padding-left: 0;
  padding-bottom: 100px;
  padding-right: 0;

  .property-description-card {
    border: none;

    .card-text {
      line-height: 32px;
      font-size: 18px;
      color: #484848;
    }
  }
}

.property-param .rty-icon-param-value {
  color: $dark;
}
