<div class="row">
  <div
    *ngFor="let entry of data"
    class="col-4">
    <div class="row no-gutters feedback-stat-entry">
      <div class="col-3">
        <div class="badge badge-primary feedback-stat-badge text-light w-100">
          <i class="fas fa-thumbs-up"></i>&nbsp;
          <span class="feedback-stat-score-value">{{ entry.score }}%</span>
        </div>
      </div>
      <div class="col-2 text-center text-primary">
        <span class="fas {{ getAttributeIcon(entry.attributeId) }} feedback-stat-category-icon"></span>
      </div>
      <div class="col-7">
        {{ entry.name }}
      </div>
    </div>
  </div>
</div>
