<section id="property-overview-section">
  <rty-property-overview [data]="data$ | async"></rty-property-overview>
</section>
<section id="property-details-section">
  <rty-property-details [data]="data$ | async"></rty-property-details>
</section>
<section class="container property-features-section">
  <div
    *ngIf="features$ | async as features"
    class="card border-0">

    <div class="card-body bg-light">
      <h3 class="mb-3">Amenities & Features</h3>
      <rty-property-attributes-grid [data]="features"></rty-property-attributes-grid>
    </div>
  </div>

  <div
    *ngIf="records$ | async as records"
    class="card border-0 mt-3">
    <div class="card-body bg-light">
      <h4 class="mb-3">Public records</h4>
      <rty-property-attributes-grid [data]="records"></rty-property-attributes-grid>
    </div>
  </div>
</section>

<div
  *ngIf="localsFeedbackAvailable$ | async"
  id="property-feedback-section"
  class="container property-feedback-section">
  <div class="card border-0">
    <div class="card-body bg-light">
      <h3>What Locals Say</h3>
      <p class="text-muted mb-4">At least {{ (data$ | async)?.publicResponseCount }} Rently users voted on each feature.</p>

      <rty-property-public-stats [data]="stats$ | async"></rty-property-public-stats>
    </div>
  </div>

  <div *ngIf="reviews$ | async as reviews" class="row mt-4">
    <div
      *ngFor="let entry of reviews"
      class="col-4">
      <div class="card h-100 border-0 feedback-card">
        <div class="card-body bg-light">
          <div class="row no-gutters align-items-center">
            <div class="col-3 text-center">
              <i class="fas fa-user-circle text-muted" style="font-size: 3rem"></i>
            </div>
            <div class="col-9">
              <h4>{{ entry.userName }}</h4>
              <p class="m-0">
                Resident - 11mo ago
              </p>
            </div>
          </div>
          <p class="p-3 m-0 card-text">
            {{ entry.textReview }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
