.property-feedback-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.property-features-section {
  padding-top: 50px;
  font-size: 1.2rem;
}

.feedback-card {
  .card-text {
    font-size: 1.2rem;
  }
}
